Armlet_hw/PCB/.Locket.fsxview
*.dsn
*.kicad_pcb-bak
*.ses
*.fsxview
Armlet_hw/PCB/_autosave-ArmletG.kicad_pcb
*.bak_cir
*.csv
*.xml
*.TNO
*.dcm
Armlet_fw/.settings/org.eclipse.cdt.codan.core.prefs
Armlet_fw/Debug/
